#overlay_delete {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#content_delete {
  z-index: 2;
  @include sizes(20%, auto);
  @include blank(_, 1rem);
  //padding: 1rem;
  background: $gray;
  //display: inline-flex;
  @include mq() {
    @include sizes(50%, auto);
  }
}

.graph-single {
  @include primary-title(auto);
}
.delete_button {
  //@include sizes(100px, 50px);
  border: 3px red solid;
  float: right;
  @include sizes(auto, auto);
  padding: 10px 30px;
  &:hover {
    background-color: red;
    //@include sizes(100px, 50px);
    //border: 5px red solid;
    color: white;
    font-weight: bold;
  }
  @include mq() {
    border: 2px red solid;
    padding: 7px 15px;
    font-size: 15px;
  }
}
.category {
  padding: 10px;
  border: 1px $gray solid;
  &:hover {
    background-color: $gray;
    border: 1px $gray solid;
  }
  @include mq() {
    padding: 5px;
    font-size: 10px;
  }
}
.final_delete {
  margin-left: auto;
  margin-right: 5px;
}
.loading {
  height: 100vh;
}

.href {
  text-decoration: underline;
  &:hover {
    color: #555;
  }
}

.change_btn {
  //@include sizes(100px, 50px);
  border: 3px $green solid;
  @include sizes(125%, auto);
  &:hover {
    background-color: $green;
  }
  @include mq() {
    border: 2px $green solid;
    padding: 7px 15px;
    font-size: 15px;
  }
}

.right {
  float: right;
}

.dlt_btn {
  @include sizes(100%, auto)
}

.graph_info {
  border: $gray 2px solid;
  border-radius: 5px;
  padding: 10px;
  @include mq() {
    font-size: 80%;
  }
}