@import "./variables.scss";
@import "./mixins.scss";
@import "./layout.scss";

@import "./components/login.scss";
@import "./components/header.scss";
@import "./components/index.scss";
@import "./components/singleGraph.scss";
@import "./components/data-sheet.scss";
@import "./components//allGraph.scss";
@import "./components/footer.scss";
@import "./components/about.scss";
@import "./components/create-graph.scss";
@import "./components/user.scss";